.bg-black{
    background-color: #000324;
}

.flex-bot{
    display: flex;
    align-items: flex-end;
}
.white{
    color: #ffffff;
}

.header{
    background: url(/images/header.jpg) no-repeat center;
    height: 350px;
}

.centerbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-text{
    background-color: #000324cc;
}

.bg-1{
    background: url(/images/bg.jpg) no-repeat center;
    height: 548px;
}

.bg-2{
    background: url(/images/bg2.jpg) no-repeat center;
    height: 738px;
}

.flex{
    display: flex;
    justify-content:space-between;
    
}

